In [5]:
#Lectura de archivo parquet en ruta 

from pathlib import Path
import pandas as pd

# Ruta base
PROCESSED = Path("data/processed")

# Archivo parquet
parquet_file = PROCESSED / "monthly.parquet"

if not parquet_file.exists():
    raise FileNotFoundError(f"No existe el archivo: {parquet_file}")

# Lectura
df_monthly = pd.read_parquet(parquet_file)

df_monthly.head()

#print("df_monthly:", df_monthly.shape)

,date,shop_id,item_id,item_name,monthly_sales,monthly_units,avg_price,min_price,max_price,num_transactions,active_days,year,month,monthly_sales_lag_1,monthly_units_lag_1
0,2013-02-28,0,30,"007: COORDINATES ""SKAYFOLL""",8215.0,31.0,265.0,265.0,265.0,9,9,2013,2,0.0,0.0
1,2013-02-28,0,31,"007: COORDINATES ""SKAYFOLL» (BD)",4774.0,11.0,434.0,434.0,434.0,7,7,2013,2,0.0,0.0
2,2013-01-31,0,32,1+1,1326.0,6.0,221.0,221.0,221.0,4,4,2013,1,0.0,0.0
3,2013-02-28,0,32,1+1,2210.0,10.0,221.0,221.0,221.0,7,7,2013,2,1326.0,6.0
4,2013-01-31,0,33,1+1 (BD),1041.0,3.0,347.0,347.0,347.0,3,3,2013,1,0.0,0.0